h1,
h2,
form,
input {
    text-align: center;
}

h1 {
    font-family: "Lora", serif;
    font-size: 47px;
    font-weight: 700;
    color: #5a5560;
}

h2 {
    font-family: "Lora", serif;
    font-weight: 700;
    font-size: 10px;
    padding-bottom: 10px;
    color: #5a5560;
}

input {
    border-radius: 10px;
    margin-bottom: 5px;
    outline: none;
    font-family: "Lora", serif;
    font-size: 13px;
    font-weight: 400;
    font-style: italic;
}

button {
    border: none;
    background: none;
}

ul {
    list-style: none;
    padding: 0;
    font-family: "Lora", serif;
    font-weight: 500;
    font-size: 12px;
    color: #5a5560;
    line-height: 2;
    font-style: italic;
}

.app-container {
    max-width: 400px;
    margin: 30px auto;
}

.weather-wrap {
    padding: 20px;
    border: 5px solid #dadde1;
    border-radius: 15px;
}

.location {
    color: #5a5560;
    padding-right: 5px;
}

.location:hover {
    cursor: pointer;
}

.central-image {
    display: block;
    margin: 30px auto;
    width: 200px;
}

.current-temperature {
    text-align: right;
    font-family: "Lora", serif;
    font-weight: 700;
    font-size: 71px;
    color: #5a5560;
    line-height: 1;
    padding-right: 0px;
}

.units {      
    font-size: 10px;   
    position: relative;
    top: -45px;    
}

.weather-description {
    text-transform: capitalize;
}

.weather-forecast {
    margin-top: 25px;
    text-align: center;
}

.weather-forecast img {
    width: 25px;
}

.forecast-cont {
    padding: 0px;
}

.temperature-date,
.temperature-img,
.temperature-of-the-date,
.temperature-max-min {
    text-align: center;
    font-family: "Lora", serif;
    font-weight: 700;
    font-style: italic;
    color: #5a5560;
    font-size: 13px;
}

.temperature-max-min {
    font-size: 12px;
    margin-top: 5px;
}

.footer {    
    font-size: 12px;
    font-family: "Lora", serif;
    text-align: center;
    font-weight: 500;
}

.footer a {
    text-decoration: none;
}


